.quote {
    margin: 0;

    &__box {
        padding: 100px;
        margin: 110px 0;
        border-radius: $radius-x;
        position: relative;
        font-size: $font-l;

        p {
            position: relative;
            z-index: 10;
        }

        @media screen and (max-width: 1200px) {
            font-size: $font-m;
            padding: 100px 25px;

            &::before {
                left: 20px !important;
            }
        }

        &::before {
            content: "“";
            font-size: 200px;
            font-family: "Bebas Neue", sans-serif;
            position: absolute;
            top: -17px;
            left: 45px;
        }

        small {
            font-size: $font-m;
        }
    }

    &.sea {
        background-color: $pallete-light__sea;
        color: $pallete-light;

        .quote__box {
            background: $gradient__sea;

            &::after {
                top: 0;
                left: 0;
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-position: 49% 62%;
                background-image: url("/img/bg-sea.png");
                background-image: url("/img/bg-sea.webp");

            }
        }
    }

    &.sky {
        background-color: transparentize($pallete-base__sky, 0.6);
        color: $pallete-light;

        .quote__box {
            background: $gradient__sky;

            &::after {
                top: 0;
                left: 0;
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-position: 100% 62%;
                background-image: url("/img/bg-sky.png");
                background-image: url("/img/bg-sky.webp");
                background-size: 800px;
                background-repeat: no-repeat;

            }
        }
    }
}
